@media(prefers-color-scheme:light){
  :root{
    --banner-img:url(../img/newbanner.jpg);
    --background-color: rgb(255, 255, 255);
    --btn-transparent:transparent;
    --text-color: rgb(0, 0, 0);
    --btn-background:black;
    --btn-black:rgb(0, 0, 0);
    --btn-hcolor:white;
    --btn-hbackground:blue;
    --button-color:black;
    --button-background:blue;
    --about-background:rgb(17, 0, 255);
  }
}

@media(prefers-color-scheme:dark){
  :root{
    --banner-img:url(../img/newbannerdar.jpg);
    --btn-transparent:transparent;
    --background-color: black;
    --text-color: rgb(255, 255, 255);
    --btn-background:rgb(0, 0, 0);
    --btn-hcolor:white;
    --btn-hbackground:blue;
    --about-background:rgb(255, 255, 255);
  }
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color:var(--text-color) !important;
  background-color: var(--background-color);
  font-family:system-ui;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background: linear-gradient(transparent,blue);
}
/* ==================
 *
 *  section Class 
 *
 *===================*/
/* header style */

/* video start */
.services{
  transition: 0.6s ease;
  margin-bottom:10px;

}
.services:hover{
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: rgba(16, 0, 241, 0.5);
  border-radius: 20px;
  transform: scale(0.9);
}
.skills{
  box-shadow:0px 0px 20px -8px;
  padding:20px;
  border-radius:22px;
  margin:30px 0px ;
}
.progress-bar-animated{-webkit-animation:1s linear infinite progress-bar-stripes;animation:1s linear infinite progress-bar-stripes}
@media (prefers-reduced-motion:reduce){.progress-bar-animated{-webkit-animation:none;animation:none}}


.text
{
  position: relative;
  z-index: 10;
  text-align: left;
  left: 100px;
  top:350px;
}

.text h1
{
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: system-ui;
  align-items: start;
}
.text h3
{
  font-size: 20px;
  align-items: start;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover
{
  letter-spacing: 6px;
}


.social
{
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contect-form > ul > li{
  color: black;
}
/* 
#contect-form > ul > li:nth-child(2) > a > svg{
  color: green;
}
#contect-form > ul > li:nth-child(3) > a > svg{
  color: green;
}
#contect-form > ul > li:nth-child(4) > a > svg{
  color: green;
} */

.social li
{
  list-style: none;
}
.social li a
{
  color: #000;
  display: inline-block;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-30px);
}

/* our services start */

#OurServices{
  padding: 20px;
  /* background-color: honeydew; */
  background-image: url('img/newbanner/jpg');
}

header {
  padding: 10px 0px;
  /* background-color: var(--background-color); */
  color:var(--text-color);
}
header .navbar {
  height: auto;
  margin-bottom: 0;

}

#navigation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  z-index: -1;
}  

#navigation {
  background-color: rgba(238, 238, 238, 0.459); /* Semi-transparent background color */
  border-radius: 50px; /* Rounded corners */
  margin: 10px 100px; /* Margin with top/bottom and left/right values */
  box-shadow: 0px 0px 1px rgb(0, 0, 0,.2);
}

#navigation .navContent{
  position: relative;
  z-index: 2; 
  color: #000;
  text-align: center;
  padding: 1px 15px;
}


.is-sticky #navigation {
  background-color: var(--background-color);
  z-index: 1000;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
.navbar-toggle {
  border-color: #0f00e7;
  transition: 0.3s;
}
.navbar-toggle .icon-bar {
  background: #333;
  transition: 0.3s;
}
.navbar-toggle:hover {
  border-color: #0f00e7;
}
.navbar-toggle:hover .icon-bar {
  background: #0f00e7;
}
.menu a {
  color:var(--text-color);
  transition: 0.3s;
  position: relative;
  font-size: 16px;
}
.menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 0;
  height: 1px;
  background: #0f00e7;
  transition: 0.3s;
}
.menu a:hover {
  border-radius: 10px;
  margin-right:5px;
}

.menu .active a {
  color:var(--text-color);
}
.list{
  font-size: 30px !important;
}
.menu .active a:before{
  width: 60px;
}

.menu a:hover:before {
  width: 70%;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent !important;
}
/* =================
   Home page style
   ================= */

  #hero:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: var(--banner-img); /* Reapply the background image */
    background-size: cover;
    filter: blur(50px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the blur effect behind the content */
    opacity: 0.5; /* Optional: Adjust the opacity of the blurred background */
  }
  #hero{
    width:100%;
    height:100vh;
    background-image:var(--banner-img);
    background-size:cover;
    position:relative;
  }
  #hero .hero-container{
    display:flex;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }

  .btn{
    border:2px solid #fff;
    padding:10px 50px;
    border-radius: 10px;
    background-color:var(--btn-hover);
    color: var(--btn-color);
  }
  #hero a:hover{
    background-color:var(--btn-black);
    color: var(--btn-hcolor);
  }
/* font awsome icons  */
.aboutus{
 
  transition: 0.4s ease;
}
.aboutus:hover{
  transform: scale(1.1);
}

/* ABout Us section */
.panel-title{
  padding: 20px;
}

.panel-title a{
  color: var(--btn-background);
  padding: 10px 10px 10px 10px;
  border-radius: 9px;;
  text-decoration: none;

}
.panel {
  box-shadow: 5px 1px 7px 1px grey;
  padding: 5px;
  transition: 0.6s ease;
  margin-bottom: 10px;
  color:var(--text-color);
  background-color:var(--background-color);
}



/* Contact us  */
.button{
  
  color: var(--btn-black);
  background-color:var(--btn-transparent);
  border-radius: 8px;
  border: 2px solid rgb(199, 180, 180);
  padding: 5px 10px 5px 10px;

}
#ContactUs {
  margin-top: 50px;
}
.button:hover{
  color: var(--btn-hcolor);
  background-color:var(--btn-hbackground);
}
input[type]{
  color:rgb(0, 0, 0);
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* padding: 10px 0px 10px 10px; */
  padding: 20px;
}
input[placeholder]:focus{
     color:rgb(0, 0, 0);
     border-bottom: 1px solid rgb(139, 139, 143);	 
     /* padding: 30px 0px 20px 10px; */
   }
   /* Horizontal line */
   
hr {
  border-radius: 20px;
  border: 1px solid rgba(0, 128, 0, 0.315);
  width: 30%;
  margin-top: 100px;
}

textarea{
  color:rgb(0, 0, 0);
  box-shadow: none;
  border: 2px solid rgb(190, 179, 179);
  border-bottom: 2px solid black;
  padding: 10px 0px 10px 10px;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .text {
    position: relative;
    z-index: 10;
    text-align: left;
    left: 15px;
    top: 300px;
  }
  .mainpage-image{
    display: none !important;
  }
  .text h1{
    font-size: 14px !important;
    margin-top: 10px !important;
    padding:0px 20px 0px 0px !important;
  }
  .text h3{
    font-size: 13px !important;
    padding:0px 20px 0px 0px !important;

  }

  .text a {
    display: inline-block;
    font-size: 12px;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 60px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }
  .btn{
    padding: 10px 23px !important;
    margin-top: 40px !important;
  }

  .servicesParent {
      min-height: 50vh; /* Adjust height for smaller screens if needed */
      padding: 10px; /* Adjust padding for smaller screens */
  }
  
  .ExprencieParent{
    height: 100% !important;
    padding: 5px 0px 10px 20px !important;
  }
  #experienceSec  img {
      display: none !important;
  }
 .uniqnessSec img{
    display: none !important;
  }
  .educationsec img{
    display: none !important;
  }

  .contect{
    margin-right: 5px;
  }

  .projects,.contect,.skill {
    display: flex;
    flex-wrap: wrap;
}
.contect .contect-div{
  flex: 0 0 100% !important; /* Make each column take up 50% of the row width */
  max-width: 100% !important; /* Ensure columns do not exceed 50% width */
}
.projects .col-sm-6 {
    flex: 0 0 50% !important; /* Make each column take up 50% of the row width */
    max-width: 50% !important; /* Ensure columns do not exceed 50% width */
}
.skill .col-md-6 {
  flex: 0 0 100% !important; /* Make each column take up 50% of the row width */
  max-width: 100% !important; /* Ensure columns do not exceed 50% width */
}

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .text {
    position: relative;
    z-index: 10;
    text-align: center;
    left: 15px;
    top: 286px;
  }
  .mainpage-image{
    display: none !important;
  }
  .text h1{
    font-size: 26px;
  }
  .text h3{
    font-size: 14px;
  }

  .text a {
    display: inline-block;
    font-size: 12px;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 60px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }

  .servicesParent {
    min-height: 60vh; /* Adjust height for smaller screens if needed */
    padding: 10px; /* Adjust padding for smaller screens */
}
  .ExprencieParent{
    height: 100%;
    padding: 5px 0px 10px 20px !important;
  }

  #experienceSec  img {
      display: none !important;
  }
 .uniqnessSec img{
    display: none !important;
  }
  .educationsec img{
    display: none !important;
  }

  .aboutussection {
    padding: 0px 0px 0px 20px !important;
  }
  .navbar-header {
    height: 40px !important;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Optional: adjust space between elements */
}
.navbar-toggle {
  border-color: #fff !important;
}
.navbar-toggle {
  padding: 0px 9px !important;
}
.icon {
    max-width: 50px; /* Set a max width for the icon */
    height: auto; /* Maintain aspect ratio */
}
.projects,.skill,.contect ,.contect-div{
    display: flex;
    flex-wrap: wrap;
} 
.projects .col-sm-6 {
    flex: 0 0 50%; /* Make each column take up 50% of the row width */
    max-width: 50%; /* Ensure columns do not exceed 50% width */
}
.contect .contect-div{
  flex: 0 0 100%; /* Make each column take up 50% of the row width */
  max-width: 100%; /* Ensure columns do not exceed 50% width */
}

.skill .col-md-6 , .social{
  flex: 0 0 50%; /* Make each column take up 50% of the row width */
  max-width: 50%; /* Ensure columns do not exceed 50% width */
}

 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .text {
    position: relative;
    z-index: 10;
    text-align: center;
    left: 15px;
    top: 286px;
  }
  .mainpage-image{
    display: none !important;
  }
  .text h1{
    font-size: 26px;
  }
  .text h3{
    font-size: 14px;
  }
  .navbar-toggle {
    border-color: #fff !important;
  }
  .navbar-toggle {
    padding: 0px 9px !important;
  }
  .text a {
    display: inline-block;
    font-size: 12px;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 60px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }

  .servicesParent {
    min-height: 70vh; /* Adjust height for smaller screens if needed */
    padding: 10px; /* Adjust padding for smaller screens */
}
  .ExprencieParent{
    padding: 5px 0px 10px 20px !important;
    background-color: #333 !important;

  }

  #experienceSec  img {
      display: none !important;
  }
 .uniqnessSec img{
    display: none !important;
  }
  .educationsec img{
    display: none !important;
  }

  .aboutussection {
    padding: 0px 0px 0px 20px !important;
  }

.projects,.skill,.contect {
    display: flex;
    flex-wrap: wrap;
} 
.projects .col-sm-6 {
    flex: 0 0 33.333%; /* Make each column take up 50% of the row width */
    max-width: 33.333%; /* Ensure columns do not exceed 50% width */
}
.contect .contect-div{
  flex: 0 0 50%; /* Make each column take up 50% of the row width */
  max-width: 50%; /* Ensure columns do not exceed 50% width */
}
.skill .col-md-6 {
  flex: 0 0 50%; /* Make each column take up 50% of the row width */
  max-width: 50%; /* Ensure columns do not exceed 50% width */
}

 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
 
  .mainpage-image {
    margin-top: 150px !important;
  }
  .servicesParent {
    min-height: 80vh; /* Adjust height for smaller screens if needed */
    padding: 10px; /* Adjust padding for smaller screens */
}
  .ExprencieParent{
    padding: 5px 0px 10px 20px !important;
    background-color: #333 !important;
  }
  .aboutussection {
    padding: 0px 0px 0px 20px !important;
  }

.projects,.skill,.contect {
    display: flex;
    flex-wrap: wrap;
} 
.projects .col-sm-6 {
    flex: 0 0 33.333%; /* Make each column take up 50% of the row width */
    max-width: 33.333%; /* Ensure columns do not exceed 50% width */
}
.contect .contect-div{
  flex: 0 0 50%; /* Make each column take up 50% of the row width */
  max-width: 50%; /* Ensure columns do not exceed 50% width */
}
.skill .col-md-6 {
  flex: 0 0 50%; /* Make each column take up 50% of the row width */
  max-width: 50%; /* Ensure columns do not exceed 50% width */
}

}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) { 
  .mainpage-image {
    margin-top: 150px !important;
  }

  .text a {
    display: inline-block;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 60px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }

 }

